body{
	width: 100%;
	height: 100%;
}
.container{
	width: 1230px;
	margin: 0 auto;
}
.baner {
	background: url(../img/wax.jpg);
}
.carousel-control.left , .carousel-control.right{
	background-image: none;
}
.baner .carousel{
	height: 760px; 
}
.baner .navbar-nav a {
	color: #c1ac95;
}
.baner .collapse {
	margin-top: 20px;
}
.abzac{
	margin-top: 160px;
}
.navbar-default {
    border: none;
    background: none;
}
.navbar-default .navbar-nav>li>a {
	font-size: 14px;
    color: #ffffff;}
.navbar-default .navbar-nav>li>a:hover {
    color: #c1ac95;}

.carousel-caption{
	position: static;
}
.baner .carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	border: 6px solid #8b8b8d;
	border-radius: 6px;
}
.baner .carousel-indicators .active{
	width: 12px;
	height: 12px;
	margin: 0;
	border: 3px solid #fff;
}
.but{
	margin-top: 5px;
	font-weight: bold;
}
.baner h2{
	font-size: 52px;
}
.baner p{
	font-size: 16px;
}
.baner .btn{
	background: #998675;
	border-color: #998675;
	height: 53px;
    width: 168px;
    border-bottom: 6px solid #736357;
}
.strelka{
	margin-top: 253px;
}
.st0 hr{
   width: 28%;
   border: 2px solid;
   color: #f1eee9;
}
.ins{
	font-size: 45px;
}
.mentsm{
color: #555555;
}
.ments{
	color: #c7b299;
}
.mens{
	color: #8c8c8c;
}
.glyphicon-search , .glyphicon-shopping-cart{
	font-size: 22px;
}
.bl_kk:hover .mentsm {
	color: #c7b299;
} 
.st0 a{
	text-decoration: none;
}

.otstup{
	margin-top: 83px;
}
.st0{
	margin-top: 15px;
}
.st1{
	height:673px;
	margin-top: 160px;
}
.st1 .otstupi{
	padding: 40px 0;
}
.st1 .col_8c{
	color:  #8c8c8c;
}
.st2{
	background: linear-gradient(to right, #211b19, #4e3427);
	height: 150px;
}
.st2 .b_now{
	margin-top: -70px;
}
.st2 h2{
		color: #c7b299;
}
.st2 span{
	color: #ffffff;
}
.st2 button{
	color: #fff;
	background-color: #998675;
	border-color: #998675;
	width: 169px;
	height: 51px;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 5px solid #736357;
}
.st2 p{
	color: #615855;
	font-size: 17px;
}
.st3 li{
	border-color: #ebebeb;
	list-style-type: none;
	margin: 0 0 0 38px;
	margin-bottom: 30px;
	height: 32px;
}
.st3 .wis{
	width: 68px;
}
.st3 .otst_st3{
	margin-bottom: 43px;
	color: #8c8c8c;
}
.st3 a{
	font-size: 14;
	text-decoration: none;
	color: #8c8c8c;
}
.st3 .nav-tabs > li > a {
	border-radius: 6px;
	border: 1px solid #ebebeb;
}
.bg3 .tab img{
	 cursor: zoom-in;
}

.bg3 .project{
  position: relative;
}

.st3 .tab .project .project-preview {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 120px;
    left: 257px;
    background: url(../img/lupa.png) no-repeat;
    border: none;
}
.st3 .tab .project .project-link{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 120px;
    left: 122px;
    background: url(../img/sulka.png) no-repeat;
    border: none;
}
.st3 .tab .project .project-preview, .st3 .tab .project-link{
    display: none;
}
.st3 .tab .project:hover > .project-link,
.st3 .tab .project:hover > .project-preview{
	display: block !important;
}
.st3 .nav-tabs {
	border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #998675;
	color: aliceblue;
}
.img_luppa{
	width: 570px;
}
.st3 .tab{
	background: #fbfaf8;
	overflow: hidden;
	margin: 0px 10px 30px 0;
	height: 338px;
}
.st3 .tab p{
	color: #c7b299;
	font-size: 20px;
	padding: 25px 50px 0 43px;
}
.st3 .tab span{
	color: #d1d1d1;
	font-size: 14px;
	padding: 0 50px;
}
.st3 .tab:hover { 
	background: #362f2d;
    color: #fff;
    width: 370px;
    cursor: pointer;
}
.st3 .tab:hover p{ 
	color: #fff;
}
.st3 .tab:hover span{ 
	color: #c0ab93;
}
.st3 button{
	color: #fff;
	background-color: #998675;
	border-color: #998675;
	margin: 50px;
	width: 169px;
	height: 51px;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 5px solid #736357;
}
.st4{
	background: url(../img/video.png)no-repeat top center;
	height: 700px;
}
.st4 .col-lg-12{
	margin-top: 222px;
}
.st4 .cursor{
	cursor: pointer;
}
.st4 h2{
	margin: 30px;
	color: #ffffff;
}
.st4 p{
	color: #ffffff;
	font-size: 16px;
}
.st4 span{
	color: #c7b299;
	font-size: 14px;
}
.st5 .foto{
	background: url(../img/iphone.png) no-repeat;
	height: 610px;
	margin-top: 80px;
}
.st5 .textt{
	margin-top: 170px;
}
.st5 p{
	color: #959595;
	font-size: 16px;
}
.st5 li{
	padding: 10px;
	color: #8c8c8c;
	list-style-type: none;
	font-size: 16px;
}
.st5 li img{
	margin-right: 30px;
}
.st6 {
background: linear-gradient(to right, #211b19, #4e3427);
}
.st6 .col-lg-2{
	margin: 49px 30px 10px 8px;
}
.st6 .price{
	color: #ffffff;
	font-size: 48px;
	margin-top: 10px;
}
.st6 p{
	color: #c7b299;
	font-size: 14px;
}
.st7{
	overflow: hidden;
}
.st7 h2{
	margin: 60px 0px 30px;
}
.st7 .col-lg-12 p{
	margin-bottom: 30px;
}
.st7 .col-lg-4 h3{
	margin-top: 35px;
}
.hov_er :hover{
    background: #362f2d;
    color: #fff;
    cursor: pointer;
    width: 370px;
}
.hov_er{
	position: relative;
}
.st7 .hov_er:before{
	content: url(../img/sep_30.png);
	left: 20px;
	top: 20px;
	position: absolute;
	cursor: pointer;
}
.st7 .hov_er:hover:before{
	content: url(../img/sep.png);
	left: 20px;
	top: 20px;
	cursor: pointer;
}
 .hov_er :hover h3{
	color: #c7b299;
}
 .hov_er :hover p{
	color: #fff;
}
.st7 p{
	font-size: 14px;
	color: #8c8c8c;
}
.hov_er {
	padding: 0 0 50px 0;
}
a{
    color: #c7b299;
    text-decoration: none;
}
a:focus, a:hover {
    color: #c7b299;
    text-decoration: none;
}
.st7.carousel-indicators li{
	border: 1px solid #b6844b;
   
}
.to{
	 top: 355px;
}
.st8 {
	background: url(../img/foo.jpg) no-repeat top center;
	overflow: hidden;
	margin-top: 40px;
}
.st8 .col-lg-3{
	margin-top: 13%;
	margin-bottom: 4%;
}
.st8 img{
	width: 55%;
}
.st9{
	background: #191919;
}
.ots_st9{
	margin: 80px 0 0 0;
}
.col_st9{
	color: #00bff3;
}
.sul{
	color: #959595;
}
.on1{
	color: #484848;
	margin-top: 30px;
    font-weight: bolder;
}
.on{
   color: #484848;
    font-weight: bolder;
}
.rese{
	color: #fff;
    font-weight: bolder;
}
.septtem{
	color: #2f2f2f;
}
.diam{
	color:#b6a38c;
	font-weight: bolder;
}
.im1{
	margin: 10px 0;
}
#si{
	margin: 0 5px;
}
.st10{
	background: #111111;
}
.st10 li{
	float: left;
	list-style-type: none;
	padding: 14px;
		font-weight: bolder;
}
.st10 a{
	color: #555555;
	text-decoration: none;
}
.st10 a:hover{
    color: #c7b299;
}
.st10 .pull-rightt, .pull-leftt{
	margin: 14px 0 0 0;
}
.waxo{
	color: #959595;
	font-weight: bolder;
}
@media only screen and (min-width: 992px)and (max-width: 1040px){
 .st1 .foto_st1{
	width: 960px;
 }
  .st2 .b_now{
  	margin-top: 70px;
  }
  .st3 .otst_st3 {
     width: 580px;
  }
  .st3 .btn{
  	margin-right: 311px;
  }
  .st5 .textt {
    margin-left: -130px;
   }
   .st6 .col-lg-2 {
	    margin: 51px 0 34px 13px;
	}
	.st6 .col-xs-3 {
	    width: 15%;
	}
	.st7_text{
		width: 1040px;
	}
	.st7 .item p {
	  width: 345px;
	}
	.st7 .carousel-inner {
	    margin-left: 302px;
	    overflow: hidden;
	    position: relative;
	    width: 100%;
	}
    .st7 .tex_cent{
    	margin-right: 810px;
    }
    .st8 .col-sm-3 {
	    width: 21%;
	}
	.st10 a{
		font-size: 11px;
	}
	.st10 li {
	    padding: 9px 22px 15px 0;
	}
}
@media only screen and (min-width: 768px)and (max-width: 992px){
	.st0 .bl_kk{
       margin-left: 65px;
	}
	.st0 .blok_fi{
		 margin-left: -54px;
	}
	.st0 .fetr{
		 margin-right: 119px;
	}
	.st1 {
    height: 522px;
    margin-top: 160px;
     }
	.st2 .b_now{
		margin-top: 85px;
	}
	.st3 .otst_st3 {
	    width: 770px;
	}
	 .st3 .tab{
     	width: 320px;
      }
   .st3 .tab:hover { 
	   background: #362f2d;
	   color: #fff;
	   width: 322px;
	   cursor: pointer;
      }
      .st3 .clas_one{
      	margin-right: 10px;
      }
     .st3 .tab .project .project-preview {
	    top: 130px;
	    left: 200px;
	   }
	.st3 .tab .project .project-link{
	    top: 130px;
	    left: 100px;
	}
	.st3 .btn{
	  	margin-right: 500px;
	  }
	 .st5 .foto {
	    height: 616px;
	    margin-top: 165px;
	    width: 430px;
	   }
	 .st5 .textt {
	    margin-top: 20px;
        width: 480px;
	   }
	   .st6 .col-xs-3 {
	     width: 11%;
	     }
	  .st7_text{
		 width: 790px;
		}
	.st7 .carousel-inner {
	    margin-left: 200px;
	}
    .st7 .tex_cent{
    	margin-right: 845px;
    }	
    .st8 .col-sm-3 {
	    width:16%;
	}
    .st9 .st9_marg{
        width: 362px;
        margin: 80px 270px 0 0;
    }
	.ots_st9 {
	    margin: 80px 0 0 0;
	    width: 420px;
	}
}
@media only screen and (min-width: 480px)and (max-width: 768px){
	.st0 .bl_kk{
		margin: 0 420px 0 90px;
	}
	.st1 .otstupi{
		width: 490px;
	}
	.st1 {
    height: 411px;
    margin-top: 160px;
    } 
   .st1 .foto_st1{
	 	width: 450px;
	 }
	.st2 .b_now{
		margin-right: 26px;
	    margin-top: 30px;
	}
	.st3 .on_1{
	  margin-right: 620px;
      width: 544px;
	}
	.st3 .otst_st3 {
	    width: 492px;
	  }
	  .st3 li {
	  	margin: 0 0 30px 14px;
	  }
	  .st3 .nav > li > a {
	    display: block;
	    padding: 0 0;
	    position: relative;
	   }
	  .st3 .btn{
	  	margin-right: 815px;
	  }
	  .st3 .tab-content{
	  	margin-left:80px;
	  }
	 .st4 .st4_with{
	 	width: 490px;
	 }
	 .st5 .textt {
       width: 480px;
	  }
	 .st5 .textt {
	    margin-left: 0;
	   }
	.st6 .col-xs-3 {
	    width: 36%;
	    float: none;
	}
	 .st7_text{
	  width: 470px;
	}
	.st7 .carousel-inner {
	    margin-left: 30px;;
	}	
    .st7 .tex_cent{
    	margin-right: 845px;
    }   
	.st8 .col-sm-3 {
	    width: 10%;
	}
	.st8 img {
	    width: 100%;
	}
	.ots_st9 {
	    margin: 80px 0 0 0;
	    width: 418px;
	}
	.st9 .st9_marg {
	    margin:0 0;
	    width: 418px;
	}
	.st9 .ots_st9{
		float: none;
	}
	.st10 a {
	    font-size: 7px;
	}
	.st10 li {
	    padding: 8px 18px 14px 0;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	.baner .left,.right {
		display: none;
	}
	.st0 .bl_kk{
		margin: 0 420px 0 10px;
	}
	.st1 .otstupi{
		width: 310px;
	}
   .st1 .foto_st1{
	 	width: 300px;
	 }
	 .st2 {
	 	height: 270px;
	 }
	 .st2 p{
	 	width: 311px;
	 }
	.st2 .b_now {
	    margin-right: 236px;
        margin-top: 150px;
     }
    .st3 .otst_st3 {
	    margin-right: 770px;
	    width: 330px;
     }
  	.st3 .on_1{
	  margin-right: 625px;
      width: 345px;
	 }
	.st3 .nav-tabs > li {
	    float: none;
	    margin-bottom: -1px;
     }
     .st3  li  {
     	width: 200px;
     	padding: 17px 11px 34px 14px;
     }
     .st3 .wis{
     	width: 200px;
     	padding: 17px 11px 34px 14px;
     }
     .st3 ul{
      margin-bottom: 20px;
     }
     .st3 .tab{
     	width: 260px;
     }
     .st3 .tab:hover { 
		background: #362f2d;
	    color: #fff;
	    width: 283px;
	    cursor: pointer;
      }
    .st3 .tab .project .project-preview {
	    top: 100px;
	    left: 195px;
	}
	.st3 .tab .project .project-link{
	    top: 100px;
	    left: 100px;
	}
	.st3 .tab p {
	    padding: 6px 0 0 25px;
	}
    .st3 .btn{
	  	margin-right: 940px;
	  }
	  .st3 .tab-content{
	  	margin-left:5px;
	  }
	  .st4 .st4_with{
	 	width: 330px;
	 }
	 .st5 .textt {
       width: 334px;
	  }
	  .st5 .foto {
	  	width: 305px;
	  }
	.st6 .col-xs-3 {
	    float: none;
	    width: 25%;
	}
	.st7_text {
	    width: 328px;
	}
	.st7 .carousel-inner {
	    margin-left: 0;
	}	
	.st7 .hov_er :hover{
	    background: #362f2d;
	    color: #fff;
	    cursor: pointer;
	    width: 270px;
	}
	.st7 .item p {
	    width: 229px;
	}
	.st7 .hov_er img{
	    width: 272px;
	}
    .st7 .tex_cent{
    	margin-right: 920px;
    } 
	.st8 img {
	    width: 81%;
	}
	.st8 .col-sm-3 {
	    width: 7%;
	}
    .st9 .ots_st9 {
	    width: 318px;
	}
	.st9 .st9_marg{
		width: 318px;
	}
	.st9 .ots_st9{
		float: none;
	}
	.st10 li {
	    float: none;
	}
	.st10 a {
	    font-size: 15px;
	}
}
